<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Banco Nacional de Monopoly</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link rel="stylesheet" href="css/app.css">
    </head>

    <body>
        <div class="container" id="main">
            <!-- Inicio 1 Pantalla de creación de juego -->
            <div v-if="!login" class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Monopoly
                                <a href="#" class="grey-text">{{ socket }}</a>
                            </span>
                            <div class="row">
                                <div class="col s12 m12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="jugador" type="text" class="validate" v-model="jugador" autocomplete="off">
                                            <label for="jugador">Nombre de jugador</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="clave" type="text" class="validate" v-model="clave" autocomplete="off">
                                            <label for="clave">Clave de juego</label>
                                            <span class="helper-text" data-error="wrong" data-success="right">Clave &uacute;nica para acceder a juego</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                        <button class="btn waves-effect green" v-bind:class="{ disabled: !socket }" v-on:click="crear">Nuevo<i class="material-icons right">style</i></button>
                        <button class="btn waves-effect blue" v-bind:class="{ disabled: !socket }" v-on:click="entrar">Entrar<i class="material-icons right">person_add</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin 1 Pantalla de creación de juego -->
            <!-- Inicio 2 Pantalla principal -->
            <div v-if="login" class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-content blue darken-4 white-text">
                            <span class="card-title activator">{{ jugador }}
                                <a href="#" id="palabraClave" class="grey-text">{{ clave }}</a>
                                <a href="#salir" class="modal-trigger white-text right">
                                    <i class="material-icons">highlight_off</i>
                                </a>
                            </span>
                            <p id="capitalActual">{{ formatoCapital }}</p>
                        </div>
                        <div class="card-tabs">
                            <ul class="tabs tabs-fixed-width blue darken-3">
                                <li class="tab"><a href="#account" class="active white-text">Mi cuenta</a></li>
                                <li v-if="banco.login" class="tab"><a href="#bank" class="white-text">Banco</a></li>
                            </ul>
                        </div>
                        <div class="card-content">
                            <div id="account" class="active">
                                <div class="">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col s12 m12">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <select v-model="transferencia.jugador" id="jugadorEnvio">
                                                            <option disabled value="">Jugadores</option>
                                                            <option v-if="player.jugador != jugador" v-for="player in jugadores" v-bind:value="player.jugador">{{ player.jugador }}</option>
                                                        </select>
                                                        <span class="helper-text" data-error="wrong" data-success="right">
                                                            Nombre de jugador
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input id="cantidadEnvio" type="number" class="validate" v-model="transferencia.monto">
                                                        <label for="cantidadEnvio">$</label>
                                                        <span class="helper-text" data-error="wrong" data-success="right">
                                                            Monto de efectivo a transferir
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <button class="btn waves-effect blue" v-bind:class="{ disabled: !socket }" v-on:click="transferir($event, 'jugador')">
                                            Transferir
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div> 
                            </div>
                            <!-- TODO: Cambiar elementos de formulario -->
                            <div v-if="banco.login" id="bank">
                                <div class="">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col s12 m12">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <select v-model="banco.transferencia.jugador" id="transferenciaBancariaJugador">
                                                            <option disabled value="">Jugadores</option>
                                                            <option v-if="player.jugador != 'Banco'" v-for="player in jugadores" v-bind:value="player.jugador">{{ player.jugador }}</option>
                                                        </select>
                                                        <span class="helper-text" data-error="wrong" data-success="right">
                                                            Nombre de jugador
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input id="transferenciaBancariaMonto" type="number" class="validate" v-model="banco.transferencia.monto">
                                                        <label for="transferenciaBancariaMonto">$</label>
                                                        <span class="helper-text" data-error="wrong" data-success="right">
                                                            Monto de efectivo a transferir
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <button class="btn waves-effect blue" v-bind:class="{ disabled: !socket }" v-on:click="transferir($event, 'banco')">
                                            Transferir
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card">
                        <ul class="collection">
                            <li class="collection-item" v-for="operacion in transaccionesRecientes">
                                <div v-if="operacion.operacion == 'Enviado'">
                                    {{operacion.operacion}} ${{ operacion.monto }} a {{ operacion.jugador }}
                                    <i class="material-icons grey-text secondary-content">
                                        file_upload
                                    </i>
                                </div>
                                <div v-if="operacion.operacion == 'Recibido'">
                                    {{operacion.operacion}} ${{ operacion.monto }} de {{ operacion.jugador }}
                                    <i class="material-icons green-text secondary-content">
                                        file_download
                                    </i>
                                </div>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <!-- Fin 2 Pantalla principal -->
            <!-- Inicio modal salir -->
            <div id="salir" class="modal bottom-sheet">
                <div class="modal-content">
                    <h5>¿Abandonar el juego?</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn modal-close waves-effect green" v-bind:class="{ disabled: !socket }">No <i class="material-icons">sentiment_very_satisfied</i></button>
                    <button class="btn modal-close waves-effect red" v-bind:class="{ disabled: !socket }" v-on:click="salir">S&iacute; <i class="material-icons">sentiment_very_dissatisfied</i></button>
                </div>
            </div>
            <!-- Fin modal salir -->
            <!-- <pre>{{transferencias}}</pre> -->
            <!-- <pre>{{$data}}</pre> -->
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="js/sails.io.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
  </html>
        